
body {
    background-color: #121212;
    color: #121212;
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #121212;
}

.spinning-icon {
    background-color: #f1ebeb;
    padding: 3px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    outline: none;
}

.spinning-icon i {
    font-size: 2.2em;
    color: #121212;
    animation: spin 2s linear infinite;
}

.spinning-icon:hover {
    background-color: #f1ebeb;
    
    transform: scale(1.05);
    
}

.spinning-icon:hover i {
    color: #d63384;
    
}

.title-container {
    background-color: #f1ebeb;
    padding: 6px 12px;
    border-radius: 50px;
    color: #121212;
    display: inline-flex;
    align-items: center;
    opacity: 0;
    animation: slideInFromLeft 1s ease-out forwards;

}

.title-text {
    font-family: 'Cherry Bomb', sans-serif;
    font-size: 1.2em;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-4%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.section {
    text-align: center;
    background-color: #f1ebeb;
    padding: 1.2rem;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    opacity: .9;
}


.title {
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #121212;
    text-shadow: 0px 2px 1px #d63384;
}


.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


.project-card {
    background-color: #2a2a2a;
    border: 1px solid #dcdcdc;
    border-radius: 1em;
}

.project-card-title,
.project-card-text {
    color: #e0e0e0;
}

.btn-view {
    background-color: #e8e8e8;
    color: #121212;
    border: none;
}

.btn-view:hover {
    background-color: #d0d0d0;
}


footer {
    background-color: #121212;
}

footer a:hover {
    color: #dcdcdc;
}